$base-color: #3d3d3d;
$flare-color: #c4e538;

.input-border {
  height: 30px;
  box-sizing: border-box;
  display: block;
  margin: 10px 0px;
  width: 100%;
  border-style: solid;
  border-color: $flare-color;
  border-width: 2px;
  padding: 0;
  padding-left: 5px;
}
