* {
  scroll-behavior: smooth;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  color: #474747;
  margin: 0;
  background-color: #ecf0f1;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.app-container {
  height: 100%;
}

#root {
  height: 100%;
  padding: 0;
  margin: 0;
}
